.responsive-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 40px);
  }
  @media (min-width: 576px) {
    .responsive-container {
      max-width: calc(100% - 40px);
    }
  }
  @media (min-width: 791px) {
    .responsive-container {
      max-width: calc(100% - 60px);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (min-width: 1025px) {
    .responsive-container {
      max-width: calc(100% - 80px);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (min-width: 1230px) {
    .responsive-container {
      max-width: 1216px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  /* Custom styles that can't be handled with Tailwind utility classes */
    .stars-color {
        color: #FFB503;
    }
    .primary-color {
        color: #ff5722;
    }
    .reviews-color {
        color: #339999;
    }
    .primary-bg {
        background-color: #ff5722;
    }
    .segondary-bg {
        background-color: #fef8f0;
    }
    .button-bg-color {
        background-color: #3d3d46;
    }
    .booking-button {
      background-color: #00a88e;
    }
    :hover.booking-button {
      background-color: #339999;
    }

/* Default SVG color */
.svg-icon {
  fill: #99999a; /* Default color */
  transition: fill 0.3s ease; /* Smooth transition */
}

/* Change SVG color to white on hover */
a:hover .svg-icon {
  fill: white; /* Hover color */
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 31px;
}

/* Change Swiper pagination bullets to black */
.swiper-pagination-bullet {
  background-color: black !important; /* Default color */
}

.swiper-pagination-bullet-active {
  background-color: black !important; /* Active bullet color */
}

/* Override Swiper's default height for slides */
.swiper_included_tours .swiper-slide {
  height: auto !important; /* Allow the height to adjust based on content */
}

/* Target only the swiper-slide elements inside the accommodation-swiper */
.accommodation-swiper .swiper-slide {
  display: flex !important; /* Ensure flex layout is applied */
  flex-direction: row; /* Align items horizontally */
  align-items: start; /* Align items to the top */
  gap: 1rem; /* Add spacing between items */
}

.accommodation-swiper-mobile .swiper-slide {
  display: flex !important;
  flex-direction: row;
}


